# wednesday class

In [1]:
def dfs_iterative(graph,start):
    stack=[start]
    visited=[]
    while stack:
        vertex=stack.pop()
        if vertex in visited:
            continue
        visited.append(vertex)
        for neighbor in graph[vertex]:
            stack.append(neighbor)
    return visited
graph={0:[1,2,3],1:[0,2,4],2:[0,1],3:[5,4],4:[1,3,5],5:[3,4]}
print(dfs_iterative(graph,0))

[0, 3, 4, 5, 1, 2]

In [2]:
def dfs_recursive(graph,vertex,visited=[]):
    visited+=[vertex]
    print(vistied)
    for neighbor in graph [vetrex]:
        if neighbor not in visited:
            visited=dfs_recursive(graph,neighbor,visited)
    return visited
graph={0:[1,2,3],1:[0,2,4],2:[0,1],3:[5,4],4:[1,3,5],5:[3,4]}
print(dfs_iterative(graph,0))

[0, 3, 4, 5, 1, 2]

# thursday class

In [3]:
visited=[]
queue=[]
def bfs_iterative(visited,graph,node):
    queue.append(node)
    while queue:
        vertex=queue.pop(0)
        print(vertex,end=" ")
        if  vertex not in visited:
            visited.append(vertex)
        for neighbor in graph[vertex]:
            queue.append(neighbor)
    return visited
adjacency_matrix={'5':["3",'7'],'3':['2','4'],'7':["8"],'2':[],'4':['8'],'8':[]}
print('following is the breadth first search algorithm')
visited=bfs_iterative(visited,adjacency_matrix,'5')
print(visited)

following is the breadth first search algorithm
5 3 7 2 4 8 8 ['5', '3', '7', '2', '4', '8']

# Example 2

In [4]:
cards=52
aces=4 # outcomes

In [5]:
#divide possible outcomes by the sample set
ace_possibility=aces/cards
print(round(ace_possibility,2))

0.08

In [6]:
# determine the probability of drawing an ace an d show in the percentage

In [7]:
cards=52
aces=4 # outcomes
ace_probability=aces/cards
ace_probability_percent=ace_probability*100

print(str(round(ace_probability_percent,0))+"%")

8.0%

In [8]:
# Example: create a function that makes the sample sapce and event outcome and returns the event probability

In [9]:
def probability_function(sample_space,outcomes):
    prob=(outcomes/sample_space)*100
    print(str(round(prob))+'%')
probability_function(4,54)
probability_function(8,54)

1350%
675%

In [10]:
def probability_function(sample_space,outcomes):
    prob=(outcomes/sample_space)*100
    return round(probability,1)
#sample space.
cards=52
# determine the probability of drawing a heart
hearts=13
heart_probability=probability_function(hearts,cards)
print(str(heart_probability)+'%')

NameError: name 'probability' is not defined

# permutation

In [1]:
from itertools import permutations

In [2]:
perm=permutations([1,2,3])
for i in perm: #to print all the permutations
    print(i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [3]:
# permutation of a given length

perm=permutations([1,2,3],2) # to make pair of only two two numbers only
for i in perm: #to print all the permutations
    print(i)

(1, 2)
(1, 3)
(2, 1)
(2, 3)
(3, 1)
(3, 2)

In [4]:
from itertools import combinations_with_replacement
comb=combinations_with_replacement([1,2,3],2)
for i in list(comb):
    print(i)

(1, 1)
(1, 2)
(1, 3)
(2, 2)
(2, 3)
(3, 3)

# Association Rules

In [5]:
pip install apyori

Requirement already satisfied: apyori in c:\users\hp\anaconda3\envs\machinelearning\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from apyori import apriori

In [4]:
data=pd.read_csv("order_data.csv")

In [5]:
data.head()

  toothpaste brush milk cereals honey bread butter cheese yogurt
0  milk cereals honey bread cheese razor gel shampoo
1             milk cereals honey cheese soap shampoo
2     honey bread butter cheese mouthwash toothpaste
3                cereals honey bread butter gel soap
4      cheesse yogurt milk cereals honey shampoo gel

In [6]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from apyori import apriori

In [7]:
data=pd.read_csv("order_data.csv")

In [8]:
data.head()

  toothpaste brush milk cereals honey bread butter cheese yogurt
0  milk cereals honey bread cheese razor gel shampoo
1             milk cereals honey cheese soap shampoo
2     honey bread butter cheese mouthwash toothpaste
3                cereals honey bread butter gel soap
4      cheesse yogurt milk cereals honey shampoo gel

# Apriori Algorithm

In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from apyori import apriori
data=pd.read_csv("order_data.csv")

In [10]:
data.head()

  toothpaste brush milk cereals honey bread butter cheese yogurt
0  milk cereals honey bread cheese razor gel shampoo
1             milk cereals honey cheese soap shampoo
2     honey bread butter cheese mouthwash toothpaste
3                cereals honey bread butter gel soap
4      cheesse yogurt milk cereals honey shampoo gel

In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from apyori import apriori
data = pd.read_csv('order_data.csv',delimiter=" ",header=None)
data.head()
data_list = []
for row in range(0, 20):
    data_list.append([str(data.values[row,column]) for column in range(0, 9)])
print(data_list)
algo = apriori(data_list, min_support=0.25, min_confidence=0.2, min_lift=2, min_length=2)
results = list(algo)
for i in range(0,3):
    print(f"Required Association No. {i+1} is: {results[i]}")
    print('-'*25)

[['toothpaste', 'brush', 'milk', 'cereals', 'honey', 'bread', 'butter', 'cheese', 'yogurt'], ['milk', 'cereals', 'honey', 'bread', 'cheese', 'razor', 'gel', 'shampoo', 'nan'], ['milk', 'cereals', 'honey', 'cheese', 'soap', 'shampoo', 'nan', 'nan', 'nan'], ['honey', 'bread', 'butter', 'cheese', 'mouthwash', 'toothpaste', 'nan', 'nan', 'nan'], ['cereals', 'honey', 'bread', 'butter', 'gel', 'soap', 'nan', 'nan', 'nan'], ['cheesse', 'yogurt', 'milk', 'cereals', 'honey', 'shampoo', 'gel', 'nan', 'nan'], ['honey', 'bread', 'cheese', 'razor', 'butter', 'yogurt', 'nan', 'nan', 'nan'], ['honey', 'bread', 'cheese', 'butter', 'milk', 'nan', 'nan', 'nan', 'nan'], ['cereals', 'butter', 'cookies', 'chips', 'nan', 'nan', 'nan', 'nan', 'nan'], ['cerals', 'cheese', 'yogurt', 'cookies', 'chips', 'nan', 'nan', 'nan', 'nan'], ['toothpaste', 'brush', 'gel', 'shampoo', 'soap', 'cookies', 'chips', 'nan', 'nan'], ['toothpaste', 'brush', 'gel', 'razor', 'mouthwash', 'milk', 'cookies', 'nan', 'nan'], ['razor', 'shampoo', 'gel', 'soap', 'bread', 'butter', 'nan', 'nan', 'nan'], ['brush', 'shampoo', 'gel', 'toothpaste', 'mouthwash', 'bread', 'cheese', 'nan', 'nan'], ['mouthwash', 'toothpaste', 'soap', 'shampoo', 'cheese', 'yogurt', 'nan', 'nan', 'nan'], ['razor', 'mouthwash', 'soap', 'butter', 'bread', 'cheese', 'nan', 'nan', 'nan'], ['shampoo', 'soap', 'gel', 'milk', 'honey', 'cereals', 'nan', 'nan', 'nan'], ['toothpaste', 'razor', 'gel', 'brush', 'mouthwash', 'shampoo', 'nan', 'nan', 'nan'], ['gel', 'razor', 'shampoo', 'milk', 'cereals', 'bread', 'cookies', 'nan', 'nan'], ['mouthwash', 'toothpaste', 'milk', 'bread', 'cookies', 'nan', 'nan', 'nan', 'nan']]
Required Association No. 1 is: RelationRecord(items=frozenset({'brush', 'toothpaste'}), support=0.25, ordered_statistics=[OrderedStatistic(items_base=frozenset({'brush'}), items_add=frozenset({'toothpaste'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'toothpaste'}), items_add=frozenset({'brush'}), confidence=0.625, lift=2.5)])
-------------------------
Required Association No. 2 is: RelationRecord(items=frozenset({'toothpaste', 'mouthwash'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mouthwash'}), items_add=frozenset({'toothpaste'}), confidence=0.8571428571428572, lift=2.142857142857143), OrderedStatistic(items_base=frozenset({'toothpaste'}), items_add=frozenset({'mouthwash'}), confidence=0.7499999999999999, lift=2.142857142857143)])
-------------------------
Required Association No. 3 is: RelationRecord(items=frozenset({'butter', 'honey', 'bread'}), support=0.25, ordered_statistics=[OrderedStatistic(items_base=frozenset({'butter'}), items_add=frozenset({'honey', 'bread'}), confidence=0.625, lift=2.0833333333333335), OrderedStatistic(items_base=frozenset({'honey', 'bread'}), items_add=frozenset({'butter'}), confidence=0.8333333333333334, lift=2.0833333333333335)])
-------------------------