In [7]:
import pandas as pd

In [8]:
data=pd .read_csv("Naive-Bayes-Classification-Data.csv")
data

     glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]

In [9]:
data.head()

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1

In [33]:
X=data[['glucose','bloodpressure']]
y=data['diabetes']

In [34]:
from sklearn.model_selection import train_test_split

In [54]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.75,random_state=1)

In [55]:
from sklearn.naive_bayes import GaussianNB

In [56]:
gnb= GaussianNB()

In [57]:
gnb.fit(X_train,y_train)

GaussianNB()

In [58]:
y_pred=gnb.predict(X_test)

In [59]:
from sklearn import metrics

In [60]:
print("Gaussain Navie Bayes model accuarcy (in %):"),metrics.accuracy_score(y_test,y_pred)*100

Gaussain Navie Bayes model accuarcy (in %):

(None, 93.70816599732262)

In [61]:
xl=len(X_train)
xl

248

In [62]:
xt=len(X_test)
xt

747