# friday class

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
import numpy as np 
from keras.models import Sequential
from keras.layers import Dense

In [3]:
ds=pd.read_csv("heart.csv")

In [4]:
ds.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
print("no of columns",len(ds.columns))
print(ds.columns)

no of columns 14
Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [6]:
#split data set into x and y
x=pd.DataFrame(ds.iloc[:, 3:13].values)
y=pd.DataFrame(ds.iloc[:, 13:].values)
x.shape
#y.shape
x=ds.iloc[:, 3:13].values
y=ds.iloc[:, 13:].values

In [7]:
from sklearn.model_selection import train_test_split
# x_train,x_test,y_train_y_test=train_test_split(x,y,test_size=0.2,random_state=0)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [8]:
x_train.shape

(242, 10)

In [9]:
x_test.shape

(61, 10)

In [10]:
y_test.shape

(61, 1)

In [11]:
y_train.shape

(242, 1)

# perform feature scaling

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

# initilize the artificial neural network

In [13]:
classifier=Sequential()

# add the input layer and the first hidden layer

In [14]:
classifier.add(Dense(units=32,activation='relu',input_dim=10))

# add the second hidden layer

In [15]:
classifier.add(Dense(units=1,activation='sigmoid'))

# train the ann
# 3.1 compile the ann

In [16]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

# fit the ann to the training set

In [17]:
classifier.fit(x_train,y_train,batch_size=5,epochs=3)

Epoch 1/3
49/49 [==============================] - 1s 3ms/step - loss: 0.7619 - accuracy: 0.5331
Epoch 2/3
49/49 [==============================] - 0s 3ms/step - loss: 0.6368 - accuracy: 0.6322
Epoch 3/3
49/49 [==============================] - 0s 3ms/step - loss: 0.5629 - accuracy: 0.7479

In [18]:
y_pred=classifier.predict(x_test)
y_pred=(y_pred>0.5)

2/2 [==============================] - 0s 8ms/step

In [19]:
y_pred

array([[ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [False],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [False],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [False]])